body {
    padding-top: 70px;
}

[data-status="running"] {
    background-color: red;
}

[data-status="stopped"] {
    background-color: green;
}

.request .method {
    font-family: "Courier New";
    width: 64px;
    font-size: 8pt;
}

.request .status {
    font-family: "Courier New";
    width: 64px;
    font-size: 8pt;
}

.request .url {
    font-family: "Courier New";
    font-size: 8pt;
}