<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header", { title: "Scepter" }); %>
  </head>
  <body>

    <%- include("../partials/nav", { selected: "index" }); %>

    <div class="container-fluid">
      Rules
      <ul><li></li></ul>

      Add
      <input type="text" name="rule-name">
      <input type="text" name="rule-pattern">
      <input type="text" name="rule-code">
    </div>

      <div class="container-fluid">
        <table class="table table-bordered table-condensed table-striped">
          <thead><tr><th>Method</th><th>URL</th><th>Request Body</th><th>Status</th><th>Response Body</th></tr></thead>
          <tbody id="requests"></tbody>
          <tfoot><tr><th>Method</th><th>URL</th><th>Request Body</th><th>Status</th><th>Response Body</th></tr></tfoot>
        </table>
      </div>
  </body>
</html>