<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/header", { title: "Scepter" }); %>
  </head>
  <body>

    <%- include("../partials/nav", { selected: "index" }); %>

    <div class="container-fluid">
      Rules
      <ul><li></li></ul>

      Add
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Pattern" name="rule-pattern">
        <textarea class="form-control" placeholder="Code" id="rule-code" name="rule-code"></textarea>
        <button onclick="">Add</button>
      </div>
    </div>

      <div class="container-fluid">
        <table class="table table-bordered table-condensed table-striped">
          <thead><tr><th>Method</th><th>URL</th><th>Request Body</th><th>Status</th><th>Response Body</th></tr></thead>
          <tbody id="requests"></tbody>
          <tfoot><tr><th>Method</th><th>URL</th><th>Request Body</th><th>Status</th><th>Response Body</th></tr></tfoot>
        </table>
      </div>
  </body>
</html>